.invInputLabel {
	width: 100px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}
input, textarea {
	margin-bottom: 10px;
	border: 3px solid rgb(128, 128, 128);
	font-size: 14px;
	padding:5px;
}
input:focus, textarea:focus {
	border: 3px solid #df1c26;
	outline: none;
}
textarea {
	font-family: 'Arial';
	font-size: 14px;
}
.invInputMsg {
	font-size: 14px;
	display: inline-block;
	margin-left: 10px;
	color: #df1c26;
}
#inventory_add {
	position: absolute;
	width: 748px;
	height: 257px;
	box-shadow: 0px 0px 18px rgb(128, 128, 128);
	left: 252px;
	top: 18px;
	background-color: white;
}
#inventoryHeader {
	width: 100%;
	height: 24px;
	background-color: #8a8a8a;
	color: #ffffff;
	font-weight: bold;
	vertical-align: center;
	display: block;
}
#bTb_left {
	margin: 0;
	padding: 0;
	width: 48.8%;
	text-align: left;
	display: inline-block;
}
#bTb_right {
	margin: 0;
	padding: 0;
	width: 50%;
	text-align: right;
	display: inline-block;
}
#bTb {
	margin-top: 14px;
}
.editIcon {
	width: auto;
	height: 21px;
	cursor: pointer;
}
h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 15px;
}
#bTb_right h2 {
	width: 100%;
	text-align: left;
	margin-left: 20px;
}